// =============== import ==================

@import "responsive";

/* -----------------fonts-------------- */

@font-face {
  font-family: "neo-sans";
  src: url(../font/NeoSan.ttf);
}

@font-face {
  font-family: "neo-sans-bold";
  src: url(../font/NeoSanBol.ttf);
}

@font-face {
  font-family: "neo-sans-med";
  src: url(../font/NeoSanMed.ttf);
}
p {
  font-family: "neo-sans";
  color: var(--gris-color);
  font-size: 16px;
}
/* --------------colores------------- */

:root {
  --rojo-color: #d7282f;
  --gris-color: #707070;
}
/* ---------------estilo---------------- */

body {
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior:smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gris-color);
}

::-webkit-scrollbar-thumb {
  background: var(--rojo-color);
  border-radius: 16px;
}
/* ------------------------loader-------------------- */

.svg-animation {
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
}

.item-responsive:hover {
  opacity: 0.8;
}
.navbar-fixed-top {
  position: fixed;
}

.navbar {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  height: 75px;
  background-color: var(--rojo-color);
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 8px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

h2 {
  text-decoration: none;
}

.logo {
  height: auto;
}

.item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 20%;
  height: auto;
  align-items: center;
  a {
    margin-left: 5px;
  }
}
a {
  text-decoration: none;
}
// =================================Home=====================================
#home {
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../assets/arteUnoFondo-01.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgb(252, 252, 252);
  @include responsive(mobile) {
    flex-direction: column;
    background-color: white;
    height: auto;
  }
  .titulo-principal {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // background-color: sandybrown;
    h1 {
      width: 80%;
      text-align: center;

      font-family: "neo-sans-med";
      color: var(--rojo-color);
      font-size: 40px;
      line-height: 60px;
      @include responsive(mobile) {
        width: 100%;
        margin-top: 10px;
        font-size: 25px;
        line-height: 40px;
        }
    }
    @include responsive(mobile) {
      width: 100%;
       margin-top: 0px;
       height: auto;
      }
  }
  .wrap-texto-principal {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 100px;
    // background-color: royalblue;
    height: 400px;
    p {
      font-size: 20px;
    }

    @include responsive(mobile) {
      width: 100%;
height: auto;
margin-top: 20px;
margin-bottom: 20px;
      p {
        text-align: center;
        font-size: 16px;
      }
      margin-left: 0px;
    }
  }
  .lottiePrincipal {
    // background-color: saddlebrown;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 45%;
    @include responsive(mobile) {
      width: 100%;
      margin-bottom: 20px;
    }

    .lotie-content {
      width: 40%;
      position: absolute;
      bottom: 0px;
      right: 10%;
      @include responsive(mobile) {
        width: 100%;
        right: 0%;
        position: relative;
      }
    }
  }
}
// ================desde====================

// Titulo
.wrap-titulo {
  width: 100%;
  background-color: var(--rojo-color);
  border-radius: 9px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  @include responsive(mobile) {
    flex-wrap: nowrap;
    width: 100%;
   flex-direction: column;
      
     }
  .wrap-opcion {
    background-color: var(--gris-color);
    width: 20%;
    border-radius: 9px 0px 0px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(mobile) {
   flex-wrap: nowrap;
   width: 100%;
   height: 40px;
   border-radius: 9px 9px 0px 0px;
     
    }
    h1 {
      font-size: 30px;
      margin-top: 5px;
      @include responsive(mobile) {
        font-size: 25px !important;

        img {
          width: 30px !important;
        }
       
      }
      img {
        width: 40px;
      }
    }
  }
  h1 {
    width: 80%;
    font-family: "neo-sans-med";
    font-size: 35px;
    margin-top: 5px;
    color: white;

    @include responsive(mobile) {
      width: 100%;
      font-size: 26px;
    }
  }
}
// fin Tituloooo
#ovp {
  margin-top: 100px;
  z-index: 2;
  text-align: center;
  @include responsive(mobile) {
    margin-top: 20px;
  }

  .con-tex-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    .texto{
      width: 100%;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      h4{
        font-family: "neo-sans";
        color:var(--gris-color);
        margin-bottom: 20px;
        @include responsive(mobile) {
          font-size:16px;
         
        }
      }
      img{
        width: 250px;
        height: auto;
      }
    }
    .pasos{
      width: 50%;
      height: auto;
      display: flex;
      padding-right: 30px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-family: 'neo-sans';
      color: var(--gris-color);
      text-align: justify;
      @include responsive(mobile) {
        width: 100%;
       
      }
      ol{
        li{
          a{
            color: var(--rojo-color);
          }
        }
      }
    }
    iframe {
      border-radius: 19px;
      width: 50%;
      @include responsive(mobile) {
        font-size: 26px;
        width: 90%;
        height: 200px;
      }
    }
  }
}

.direccion-home {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;

  ul {
    color: var(--gris-color);
    h3 {
      font-family: "neo-sans-med";
      font-size: 120%;
    }
    li {
      font-family: "neo-sans";
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5;
    }
  }
}
#Desde {
  // h1 {
  //   font-family: "neo-sans-med";
  //   font-size: 40px;
  //   color: white;
  //   background-color: var(--rojo-color);
  //   padding: 5px;
  //   padding-left: 5px;
  //   padding-right: 5px;
  //   border-radius: 9px;
  // }
  margin-top: 50px;
  z-index: 99;
  text-align: center;
.columnas-listado{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include responsive(mobile) {
   flex-wrap: wrap;
   
  }
  .linea{
    border-left: var(--rojo-color) 2px dashed;
    padding-left: 50px;
    @include responsive(mobile) {
      border-left: none;
      padding-left: 0px;
     
    }
  }
  .contenedor {
    margin-top: 70px;
    height: auto;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    @include responsive(mobile) {
    width: 100%;
     margin-top: 20px;
    }
    .opciones {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include responsive(mobile) {
        width: 100%;
    
        }
      img {
        width: 70px;
      }
  
      p {
        width: 350px;
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        font-family: 'neo-sans-med';
        @include responsive(mobile) {
          width: 100%;
           margin-top: 10px;
           font-size: 20px;
          
          }
      }
    }
    .listadepasos {
      width: 100%;
      display: flex;
      height: 1000px;
      margin-top: 50px;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      @include responsive(small) {
      height: 1500px;
        
       }
      .nota {
        border: 1px var(--rojo-color) solid;
        border-radius: 9px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        height: auto;
        p {
          text-align: justify;
          margin-top: 0px;
        }
      }
      .content {
        height: auto;
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-items: flex-start;
        .icono {
          width: 50px;
          transform: translateY(-8px);
        }
        .tex {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          text-align: justify;
          width: 100%;
          height: 100%;
          padding-left: 5px;
          text-align: start;
          ul {
            li {
              font-family: "neo-sans";
              color: var(--gris-color);
              text-align: justify;
            }
          }
        }
      }
    }
  }

}
  .unoDos {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
 
  }
  h2 {
    margin-top: 40px;
    font-family: "neo-sans-med";
    font-size: 40px;
    color: var(--rojo-color);
  }

}
// =================================tRASNANCA=====================================

#TrasBanca {
  .nota {
    .nota {
      border: 1px var(--rojo-color) solid;
      border-radius: 9px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: auto;
      margin-top: 50px;
      height: 50px;
      p {
        margin-top: 0px;
        margin: auto;
      }
    }
  }
  // h1 {
  //   font-family: "neo-sans-med";
  //   font-size: 40px;
  //   color: white;
  //   background-color: var(--rojo-color);
  //   padding: 5px;
  //   padding-left: 5px;
  //   padding-right: 5px;
  //   border-radius: 9px;
  // }
  margin-top: 50px;
  text-align: center;
  p {
    text-align: justify;
    font-family: "neo-sans";
    color: var(--gris-color);
    margin-top: 50px;
  }
  .contenidotextimg {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 400px;
    .contenido-img-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      .content {
        display: flex;
        .tex {
          text-align: justify;
          p {
            margin-top: 0px;
          }
        }
      }
    }
  }
  .nota {
    border: 1px var(--rojo-color) solid;
    border-radius: 9px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height: 50px;
    p {
      margin-top: 0px;
      margin: auto;
    }
  }
}
.notab {
  display: none !important;
  border: 1px var(--rojo-color) solid;
  border-radius: 9px;
  padding: 5px;
  margin-top: 50px;
  width: 100%;

  height: auto;

  p {
    margin-top: 5px !important;
    text-align: center;
  }
}

.lottie {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(mobile) {
    width: 100%;
    lottie-player {
      width: 350px;
      height: 350px;
      margin-bottom: 20px;
    }
  }
}
// ==============================Debitos=====================================
#debitos {
  text-align: center;
  // h1 {
  //   margin-top: 50px;
  //   font-family: "neo-sans-med";
  //   font-size: 40px;
  //   color: white;
  //   background-color: var(--rojo-color);
  //   padding: 5px;

  //   border-radius: 9px;
  // }
  p {
    margin-top: 50px;
    text-align: justify;
  }
  .contenidotextimg {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 400px;
    .contenido-img-text {
      display: flex;
      flex-direction: column;

      justify-content: space-between;
      width: 50%;
      .content {
        display: flex;
        .tex {
          text-align: justify;
          p {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
// =================================Contactanos====================================
.botonco {
  display: block;
}
.boton {
  display: none;
  // margin: auto;
  // height: 40px;
  // font-family: "neo-sans-med";
  // background-color: var(--rojo-color) !important;
  // border-radius: 9px;
  // border: none;

  // width: 150px;

  // a {
  //   color: white;
  // }
  // &:hover {
  //   background-color: white;

  // }
}
// #contactanos .contenedr .cont button a {
//   color: #ffffff !important;

//   :hover {
//     color: var(--rojo-color) !important;
//   }
// }
button {
  margin: auto;
  height: 40px;
  font-family: "neo-sans-med";
  background-color: var(--rojo-color);
  border-radius: 9px;
  border: none;
  color: white;
  width: 150px;
  &:hover {
    background-color: white;
    color: var(--rojo-color);
  }
  a {
    color: white !important;
    width: 100%;
    height: 100%;
    padding: 10%;
    &:hover {
      color: var(--rojo-color) !important;
    }
  }
}
.tf {
  transform: translateY(-10px);
}
#contactanos {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 460px;
  text-align: center;
  background-image: url("../assets/fondocontac.png");
  background-position: center;
  background-size: cover;
  h1 {
    font-family: "neo-sans-med";
    background-color: var(--rojo-color);
    margin: 10px;
    border-radius: 9px;
    font-size: 30px;
    width: 310px;
    margin: auto;
    color: white;
  }
  p {
    margin-top: 20px;
    color: white;
    text-align: justify;
  }
  .contenedr {
    h4 {
      font-family: "neo-sans";
    }
    .cont {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      font-size: 100%;
      margin-top: 30px;

      .Correo,
      .App {
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
#contactanos .contenedr .cont button a {
  color: #d7282f;
}

// .blur{
//   width: 100%;
//   height: 400px;
//   filter: blur(6px) black;
//     background-image: url("https://images.unsplash.com/photo-1584847108039-bf217e06885e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");;
//   background-position: center;
//   background-size: cover;
//   position: absolute;

// }
// =================================footer=====================================
footer {
  width: 100%;
  height: 110px;
  background-color: #c41f26;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .footer {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rojo-color);
    h3 {
      font-family: "neo-sans";
      color: white;
    }
  }
}
.notatarjeta {
  border: 1px var(--rojo-color) solid;
  border-radius: 9px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;

  height: auto;
  p {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin: auto;
  }
}
// ===============================Responsive==================================

@include responsive(mobile) {
  .tf {
    transform: translateY(-8px);
  }
  .unoss {
    img {
      width: 40px !important;
    }
  }
  .notab {
    display: block !important;
  }
  .svg-animation {
    width: 100px;
    height: 100px;
  }
  /* -------------Navbar------------- */
  .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 180px;
    height: auto;
  }
  .logo-responsive {
    width: 100%;
  }
  .item-responsive {
    width: 25px;
    height: auto;
  }
  .item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 50%;
    height: auto;
    align-items: center;
  }

  #home {
    width: 95%;
    padding-top: 100px;
    height: auto;
    margin: auto;
    background-image: none;
    .container {
      transform: translateX(1px) !important;
      height: auto;
      width: 100%;
      margin-left: 0px;
      flex-direction: column;

      .text {
        width: 100%;
        h1 {
          font-size: 26px;
        }
      }
      .imagen {
        display: block;
        width: 100%;
      }
    }
  }

  #Desde {
    width: 100%;
    h1 {
      font-size: 26px;
    }

    .unoDos {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .opciones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        img {
          width: 40px;
        }
        p {
          text-align: center;
        }
      }
    }
    h2 {
      font-size: 26px;
    }
    .contenedor {
      flex-direction: column;
      .listadepasos {
        width: 100%;
        height: auto !important;
      }
    }
  }

  #TrasBanca {
    width: 95%;
    h1 {
      font-size: 26px;
    }
    .contenidotextimg {
      flex-direction: column;
      height: auto;
      width: 100%;

      .contenido-img-text {
        width: 100% !important;
      }
    }
    .nota {
      width: 100%;
      height: 100px;
      display: none;
    }
    .ilustracion {
      width: 100%;
      background-size: cover;
    }
  }

  #debitos {
    width: 95%;
    h1 {
      font-size: 26px;
    }
    .contenidotextimg {
      flex-direction: column-reverse;
      height: auto;
      width: 100%;

      .contenido-img-text {
        width: 100% !important;
        .content {
          margin-bottom: 10px;
          justify-content: flex-start;
          align-items: flex-start;
          .icono {
            img {
              width: 40px;
            }
          }
          .tex {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .ilustracion {
      width: 60%;
      margin: auto;
      background-size: cover;
      margin-bottom: 50px;
    }
  }

  #contactanos {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;

    .contenedr {
      .boton {
        display: block;
      }
      .cont {
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        flex-direction: column;
        .botonco {
          display: none;
        }
        .Correo {
          .correoimg {
            width: 100px;
          }
        }
        .App {
          .celimg {
            width: 40px;
          }
        }
      }
    }
  }

  // =================================footer=====================================
  footer {
    margin-top: 0px;
    text-align: center;
    .footer {
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--rojo-color);
      h3 {
        font-family: "neo-sans";
        color: white;
        font-size: 20px;
      }
    }
  }
}

@include responsive(small) {
  .svg-animation {
    width: 100px;
    height: 100px;
  }
  .nota {
    display: block !important;
  }
  /* -------------Navbar------------- */
  .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 180px;
    height: auto;
  }
  .logo-responsive {
    width: 100%;
  }
  .item-responsive {
    width: 25px;
    height: auto;
  }
  .item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 50%;
    height: auto;
    align-items: center;
  }

  #home {
    width: 100%;
    padding-top: 100px;
    height: auto;
    margin: auto;
    background-image: none;
    .container {
      transform: translateX(1px) !important;
      height: auto;
      width: 100%;
      margin-left: 0px;
      flex-direction: column;

      .text {
        width: 100%;
        h1 {
          font-size: 26px;
        }
      }
      .imagen {
        display: block;
        width: 100%;
      }
    }
  }
  #TrasBanca .nota {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
}

@include responsive(desktop) {
  #TrasBanca .nota {
    display: none !important;
  }
  /* -------------Navbar------------- */
  .navbar {
    height: 70px;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }

  #home .container {
    transform: translateX(0px);
  }
}
